<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Audiator</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <h1>Welcome to Audiator</h1>
    </header>
    <section id="one">
        <button id="button">Start listening</button>
        <p><audio id="audio" controls></audio></p>
        <form id="result" action="/recognize" method="POST"></div>
        <p id="message" hidden aria-hidden="true">
            Your browser doesn't support Speech Recognition. Sorry.
        </p>
    </section>
    <section id="two">
        
    </section>

    <script src="script.js"></script>
</body>

</html>