<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Audiator</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <h1>Welcome to Audiator</h1>
    </header>
    <section id="two">
        <audio controls>
            <source src="/audio.mp3" type="audio/mpeg">
        </audio>
        <a href="/result" id="karaoke-button"><button>Generate Karaoke Track</button></a>
    </section>

    <script src="recognize.js"></script>
</body>

</html>